#header {

    width: 100%;
    font-family: 'Goldman';
}

.navbar{
    border-color: #E79036 solid 5px;
    width: 100%;
}

.search {

    width: 15rem;
    height: 2rem;
}

.bttn {
    width: 4rem;
    height: 2rem;
    margin-top: 2.5rem;
    text-transform: uppercase;
    padding: 0%;
}

@media (min-width: 360px) and (max-width: 760px){
  
    .search {
        margin-top: 3rem;
        width: 7rem;
        height: 2rem;
        font-size: x-small;
    }
    .bttn {
        width: 4rem;
        height: 2rem;
        margin-top: 3rem;
    }
}