*{
    margin:0%;
    padding: 0%;
    
}

#header {
    width: 100vw;

    width: 100%;
    font-family: 'Goldman';
}

.navbar{
    border-color: #E79036 solid 5px;
    width: 100%;
}

.navbar img{
    width: 6rem;
}

.search {

    width: 15rem;
    height: 2rem;
}

.bttn {
    width: 4rem;
    height: 2rem;
    margin-top: 2.5rem;
    text-transform: uppercase;
    padding: 0%;
}

@media (min-width: 320px) and (max-width: 760px){
    #header {
        width: 100vw;
        margin-top: -20rem;
        font-family: 'Goldman';
    }
@media (min-width: 360px) and (max-width: 760px){

    .search {
        margin-top: 3rem;
        width: 7rem;
        height: 2rem;
        font-size: x-small;
    }
    .bttn {
        width: 4rem;
        height: 2rem;
        margin-top: 3rem;
    }
}