@import url('https://fonts.googleapis.com/css2?family=Goldman:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Goldman:wght@700&display=swap');

#body{
    width: 22.5rem;
    height: 46.25rem;
    display: flex;
    flex-direction: column;
    background-color: rgba(248, 241, 241, 1);
}

#productShort{
    display: flex;
    flex-direction: column;
    width: 22.5rem;
    height: 11.125rem ;
}

.margin {
    width: auto;
    height: 1.4375rem;
}

#product {
    width: 100%;
    height: 8.3125rem;
    background-color: rgba(215, 201, 240, 1);
    display: flex;
    flex-direction: row;
}

#img {
    height: 8.3125rem;
    width: 24.17%;
    position:relative;
}

#imgProduct {
    height: 100%;
    width: 100%;
}

#itemStock {
    position:absolute;
    width: 1.5625rem;
    height: 1.25rem;
    border-radius: .1875rem;
    border: 0.0625rem solid  rgba(231, 144, 54, 1);
    background-color: rgba(240, 201, 168, 1);
    bottom: 3%;
    right: 5%;
    text-align: center;
}

#itemStock p {
    margin-top: -0.0625rem;
    font-size: .9375rem;
    size: inherit;
    font-family: Kosugi Maru, sans-serif;
}

#description{
    display: grid;
    /* grid-template-columns: 2.4375rem 3.6875rem .625rem 3.125rem .625rem 3.125rem 3.4375rem; */
    grid-template-columns: 1.25rem 1.25rem 3.6875rem .625rem 3.125rem .625rem 3.125rem 1.7188rem 27.5px;
    grid-template-rows: .9375rem 1.75rem 1.25rem 2.3125rem 2.0625rem;
    width: 75.83%;
}

/* .grid{
    border: black solid 1px;

} */

#g1{
    grid-column-start: 1;
    grid-column-end: 8;
}


#itemName {
    grid-column-start: 2;
    grid-column-end: 9;
    background-color: rgba(248, 241, 241, 1);
    border-radius: .1875rem;
    text-align: center;
    border: 0;
    font-family: Goldman;
    font-size: smaller;
    font-weight: .0625rem;
    padding-top: .1875rem;

}

#g5 {
    grid-row-start: 3;
    grid-row-end: 6;
}

#g6{
    grid-column-start: 2;
    grid-column-end: 7;
}

 /* #g7 {
    grid-row-start: 3;
    grid-row-end: 6;
}  */

#itemPrice {
    grid-column-start: 3;
    grid-column-end: 4;
    background-color: rgba(248, 241, 241, 1);
    border-radius: .1875rem;
    text-align: center;
    padding-top: .4375rem;
    border: 0;
    font-family: Goldman;
    font-size: 1.25rem;
}

#g13 {
    grid-column-start: 2;
    grid-column-end: 7;
}

.button {
    background-color: rgba(231, 144, 54, 1); 
    background-repeat: no-repeat ;
    background-position: center;
}

#edit {
    background-image:url(../../src/assets/img/🦆\ emoji\ _pencil_.png);
    background-size: 55%;
}

#delete {
    background-image:url(../../src/assets/img/🦆\ emoji\ _delete_.png);
    background-size: 45%;
}